{% extends "base.html" %}

{% block content %}
<header>
    <div>
        <div class="links">
            <div class="button"><a href="/">Luca Ciucci</a></div>
            <div class="button"><a href="/about-me/">About Me</a></div>
            <div class="button"><a href="/cv/">CV</a></div>
            <div class="button"><a href="/topics/">Topics</a></div>
            <div class="button"><a href="/research/">Research</a></div>
            <div class="button"><a href="/projects/">Projects</a></div>
        </div>
    </div>
</header>
<!--lc-topnav>
    <div class="top-nav-links">
        <a>ciao</a>
        <a>ciao</a>
        {{ get_url(path=section.permalink) }}
    </div>
</lc-topnav-->
<div class="top-notice orange"><b>🚧 Under construction 🚧</b></div>

<lc-content>
<lc-sidebar>
    <!-- TODO ${this._related_articles_box} -->
    <lc-nav-index class="in-nav-index">pippo ploto</lc-nav-index>
</lc-sidebar>

<article>
    <h1 class="title">
        <a href="./">{{ section.title }}</a>
    </h1>

    {{ section.content | safe }}
</article>
<!-- TODO ${this._tmp_bottom} -->
<div class="out-nav-index-container"><lc-nav-index class="out-nav-index"></lc-nav-index></div>
</lc-content>

<script>
    // take all h2..h6 with id and make them a link to themselves
    let article = document.querySelector("article");
    let headers = article.querySelectorAll("h2[id], h3[id], h4[id], h5[id], h6[id]");
    for (let header of headers) {
        let a = document.createElement("a");
        a.href = "#" + header.id;
        a.textContent = header.textContent;
        header.textContent = "";
        header.appendChild(a);
    }
</script>
<script src='{{ get_url(path="js/index.mjs") }}' type="module"></script>
{% endblock content %}